@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions

@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var logoutModel = new PostRedirectModel();
    // You can modify this to redirect to a different URL instead of the current one
    logoutModel.RedirectUrl = null;
}

@if (isLoggedIn)
{
    <div class="login-status row align-items-center">

        <p class="col-auto my-0 mx-3 p-0">Welcome back <strong>@Context.User.Identity.Name</strong>!</p>

        @using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout", new
        {
            RedirectUrl = logoutModel.RedirectUrl
        }, new { @class = "col-auto" }))
        {
            <button type="submit" class="btn btn-primary">Log out</button>
        }

    </div>
}
else
{
    <a href="/login" role="button" class="btn btn-outline-primary me-2">Login</a>
    <a href="/signup" role="button" class="btn btn-warning">Sign-up</a>
}