@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Core;

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Master.cshtml";
    var articles = Model.Children.ToArray();
}

<h1>@Model.Name</h1>
<section class="articles">
@if (articles.Length > 0)
{
    @for (int i = 0; i < articles.Length; i++)
    {
        <div style="--delay: @i">
            @await Html.PartialAsync("_ArticleCard", articles[i])
        </div>
    }
}
else
{
    <p>@Umbraco.GetDictionaryValue("NoArticles")</p>
}

</section>