@using Umbraco.Cms.Web.Common.PublishedModels;
@using System.Security.Claims;
@using System.Security.Principal;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GetPremium>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_Master.cshtml";

    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
}

<h1>@Model.Value("getPremiumTitle")</h1>
<p>@Model.Value("getPremiumMessage")</p>
