@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_Master.cshtml";
}

<div class="container">
    @{
        await Html.RenderPartialAsync("_Login");
    }
</div>

