@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Master.cshtml";
}
@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var premium = Context.User?.IsInRole("Premium") ?? false;

    var valueTag = premium ? "premium" : isLoggedIn ? "registered" : "guest";
    var greeting = Model.Value(valueTag + "Title");
    var message = Model.Value(valueTag + "Message");
}

<h1>@greeting</h1>
<p>@message</p>

<h2 class="mt-5 mb-0">@Umbraco.GetDictionaryValue("AssortedArticles")</h2>
<span class="text-muted mb-3">🌟 @Umbraco.GetDictionaryValue("PremiumArticlesMark")</span>
@await Html.PartialAsync("_RandomArticles")
<div class="mb-5"></div>