@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Master.cshtml";
}
@{
    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var premium = Context.User?.IsInRole("Premium") ?? false;
}

@if (premium)
{
    <h1>Welcome beloved premium member!</h1>
}
else if (isLoggedIn)
{
    <h1>Welcome freeloader!</h1>
    <p>Now that you&apos;ve signed up, you can get premium for just $4.99/month!</p>
}
else
{
    <h1>Welcome beloved guest!</h1>
    <p>If you <a href="/signup" title="Sign up">sign up</a> today, you get 50% off with the code "THISISNOTASCAM"</p>
}

<h2 class="mt-5 mb-0">Assorted articles</h2>
<span class="text-muted mb-3">🌟 marks premium articles</span>
@await Html.PartialAsync("_RandomArticles")